<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
  <title>Documentation</title>
  <style>
      tr.level_1 {
          background-color: #49A3B3;
          font-weight: bolder;
      }

      tr.level_2 {
          background-color: #9bcfd9;
          font-style: italic;
          font-weight: normal;
      }

      tr.feature_header:nth-child(2n)
      {
      background-color: #e3f4f4;
      }

      tr.level_2 td:first-child {
          padding-left: 45px;
      }

      .warning {
          color: red;
          font-weight: bold;
      }

      a:link {
          text-decoration: none;
          color: #B06448;
      }

      a:visited {
          text-decoration: none;
          color: #B06448;
      }

      a:active {
          text-decoration: none;
          color: #B06448;
      }

      a:hover {
          text-decoration: underline;
          color: #B36B49;
      }

  </style>
</head>
<body>
<%= yield %>
</body>
</html>